# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages in data science
- List commonly used libraries in data science
- List tools used in data science
- Show examples of arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

## Author

Jessica Wahid